.container {
  max-width: 470px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  background: rgba(61, 61, 61, 0.295);
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #cfc1c117;
  color:#fff
}

.button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0069d9;
}
