.filter__label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:flex-start;
  font-weight: 400;
 
    
}

.filter__input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
 width:100%;
   box-sizing: border-box;
  vertical-align: middle;
}

