.contactList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contactList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.contactList__item__number {
  margin-right: 10px;
}

.contactList__item__button {
  padding: 5px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contactList__item__button:hover {
  background-color: #0069d9;
}

.contactList__item__button:disabled,
.contactList__item__button[disabled]{
  background-color: #cccccc;
  color: #666666;
}
